<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>MicroBlog Spring</title>
</head>
<body>

<html>
<body>

{{^user}}
<form action="/login" method="post">
    <input type="text" name="username" placeholder="Enter your name"/>
    <input type="password" name="password" placeholder="Password"/>
    <button type="submit">Login</button>
</form>
{{/user}}

{{#user}}
<form action="/logout" method="post">
    <button type="submit">Logout</button>
</form>
<br>
<br>
<form action="/add-message" method="post">
    <input type="text" name="text" placeholder="Enter your message" />
    <button type="submit">Submit</button>
</form>
<br/>

<ol>
    {{#messages}}
    Messages by {{user}}: <br/>
    <li>{{message}}
    <form action="/delete" method="post" style="display: inline-block">
        <input type="hidden" name="id" value="{{id}}" />
        <button type="submit">Delete</button>
    </form>

    <form action="/edit" method="post" style="display: inline-block">
        <button type="submit">Edit</button>
        <input type="hidden" name="id" value="{{id}}" />
        <input type="text" name="text" placeholder="Enter updated message">
    </form>
    </li>
    {{/messages}}
</ol>

{{/user}}


</body>
</html>