<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>MicroBlog Spring</title>
</head>
<body>

<html>
<body>

<br>
<br>
{{^user}}
<form action="/login" method="post">
    <input type="text" name="username" placeholder="Enter your name"/>
    <button type="submit">Login</button>
</form>
{{/user}}

{{#user}}
<form action="/logout" method="post">
    <button type="submit">Logout</button>
</form>
<br>
<br>
<form action="/add-message" method="post">
    <input type="text" name="text" placeholder="Enter your message" />
    <button type="submit">Submit</button>
</form>

Messages by {{user}}: <br>
<ol>
    {{#messages}}
    <li>{{message}} </li>
    <form action="/delete" method="post" style="display: inline-block;">
        <input type="hidden" name="id" value="{{id}}"/>
        <button type="submit">Delete</button>
    </form>
    {{/messages}}
</ol>

{{/user}}


</body>
</html>